# Configuration file

~CONFIG_VERSION: 0.1.0

world-1698571910 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=энер
    B:overlayEnabled=true
}


world-319217252 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-67936054 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1195758916 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world165354754 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=меч
    B:overlayEnabled=true
}


world2047083358 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world649471344 {
    # Отображает список закладок рядом с открытыми интерфейсами.
    B:bookmarkOverlayEnabled=true

    # Даёт предметы вместо отображения рецепта.
    B:cheatItemsEnabled=true

    # Скрывает и раскрывает ингредиенты путём нажатием по нему в списке ингредиентов.
    B:editEnabled=false
    S:filterText=энер

    # Отображает список ингредиентов рядом с открытыми интерфейсами.
    B:overlayEnabled=true
}


world974583211 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


